{% extends "base.html" %} 
{% load humanize %}
{% load static %}
{% block container %} 

<div class="container mt-5">
  <div class="container">
    <div class="feature col">
      <div class="feature-icon">
        <img style="height: 10rem; width: 10rem" src="{{community.logo.url}}" alt="" />
      </div>
      <br />
      <h2>{{community.name}}</h2>
      <p>{{community.about}}</p>
      <span class="badge rounded-pill bg-light text-dark">
        {{community.pk}}
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill"
          viewBox="0 0 16 16">
          <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
          <path fill-rule="evenodd"
            d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
          <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
        </svg>
      </span>
      <!-- <a href="#" class="icon-link">
        Call to action
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#chevron-right"></use>
        </svg>
      </a> -->
    </div>
  </div>

  <!-- title part start -->
  <div class="container mt-5">
    <div class="row p-3">
      <div class="col-3">
        <h5 style="font-size:1.2rem"><strong>Activity</strong></h5>
      </div>
      <div class="col-6"></div>
      <div class="col-3">
        <a class="nav-link dropdown-toggle" href="#" id="FolderDropdown" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel"
            viewBox="0 0 16 16">
            <path
              d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
          </svg>
          Filter
        </a>
        <div class="dropdown-menu pt-0 mx-0 rounded-3 shadow overflow-hidden" aria-labelledby="FilterDropdown"
          style="width: 280px">
          
          <ul class="list-unstyled mb-0 mt-2">
            <li>
              <button class="dropdown-item d-flex align-items-center gap-2 py-2 " id="lastest_btn">
                <span class="d-inline-block bg-success rounded-circle" style="width: 0.5em; height: 0.5em"></span>
                 Lastest Pending Projects
              </button>
            </li>
            <li>
              <button class="dropdown-item d-flex align-items-center gap-2 py-2" id="past_btn">
                <span class="d-inline-block bg-primary rounded-circle" style="width: 0.5em; height: 0.5em"></span>
                Past Completed projects
              </button>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
                <span class="d-inline-block bg-danger rounded-circle" style="width: 0.5em; height: 0.5em"></span>
                Something else here
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
                <span class="d-inline-block bg-info rounded-circle" style="width: 0.5em; height: 0.5em"></span>
                Separated link
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- title part end -->

  <!-- projects start -->

  <div class="container mt-4">
   
  </div>

  <!-- projects end -->
</div>



{% endblock container %}

{% block section %}

<div id="pending" class="pending">
  <section id="features" class="section pending" data-pending="true">
    <div class="container">
      <!-- Start Row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="features-text section-header text-center">  
            <div>   
              <h2 class="section-title">Projects</h2>
              <div class="desc-text">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos, numquam.</p>
              </div>
            </div> 
          </div>
        </div>
  
      </div>
      <!-- End Row -->
      <!-- Start Row -->
      <div class="row featured-bg">
        {% for project in projects  %}
        
        
       <!-- Start Col -->
        <div class="col-lg-6 col-md-6 col-xs-11 p-0">
           <!-- Start Fetatures -->
          <div class="feature-item featured-border1">
             <div style="width:150px; height:150px;" class="feature-icon float-left">
               <img style="width:100%; height:100%" class="img-fluid" src="{{project.startup.startupimage_set.all.0.image.url}}" alt="">
             </div>
             <div class="feature-info float-left">
               <h4 style="margin-bottom: 0.4rem;">{{project.name}}
                <small style="font-size:0.7rem"> from <a style="color: #0d6efd;" href="{% url 'startup_home' project.startup.pk  %}">{{project.startup.name}}</a></small>
               </h4>
  
               <p style="font-size:0.8rem" class="card-text"><strong>Skills : </strong></p>
                    {% for i in project.skill_set.all %}
                    <span class="badge rounded-pill bg-secondary text-light mb-2">{{i.name}}</span>
  
                    {% endfor %}
                    <br >
                    
                    {% for j in project.tags.all %}
                    <a style="text-decoration: none; padding-right: 0.5rem; padding-left: 0.5rem; color: #0d6efd; font-weight: bold; padding-top:1rem" href="{% url 'tag_link' j.pk %}">
                      #{{j.name}}</a>
  
                    {% endfor %}
  
                    <p class="card-text mt-1 p-1">
                      <small class="text-muted">{{project.time|naturaltime}}</small>
                    </p>
  
                    <div class="d-grid gap-2">
                      <a href="{% url 'project' project.id %}" class="btn btn-border-filled visit-btn mt-1">Check</a>
                    </div>
               
               
             </div>
          </div>
          <!-- End Fetatures -->
        </div>
         <!-- End Col -->
        
         {% endfor %}
        
       
        
  
      </div>
      <!-- End Row -->
    </div>
  </section>
</div>

<div id="past" style="display: none;" class="past">
  <section  id="features" class="section pending" data-pending="true">
    <div class="container">
      <!-- Start Row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="features-text section-header text-center">  
            <div>   
              <h2 class="section-title">Past Completed Projects</h2>
              <div class="desc-text">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos, numquam.</p>
              </div>
            </div> 
          </div>
        </div>
  
      </div>
      <!-- End Row -->
      <!-- Start Row -->
      <div class="row featured-bg">
        {% for project in past_projects  %}
        
        
       <!-- Start Col -->
        <div class="col-lg-6 col-md-6 col-xs-12 p-0">
           <!-- Start Fetatures -->
          <div class="feature-item featured-border1">
             <div style="width:150px; height:150px;" class="feature-icon float-left">

               <img style="width:100%; height:100%" class="img-fluid" src="{{project.startup.startupimage_set.all.0.image.url}}" alt="">
                
             </div>
             <div class="feature-info float-left">
               <h4 style="margin-bottom: 0.4rem; margin-top: 0.4rem;">{{project.name}}
                <small style="font-size:0.7rem"> from <a style="color: #0d6efd;" href="{% url 'startup_home' project.startup.pk  %}">{{project.startup.name}}</a></small>
               </h4>
  
               <p style="font-size:0.8rem" class="card-text"><strong>Skills : </strong></p>
                    {% for i in project.skill_set.all %}
                    <span class="badge rounded-pill bg-secondary text-light mb-2">{{i.name}}</span>
  
                    {% endfor %}
                    <br >
                    
                    {% for j in project.tags.all %}
                    <a style="text-decoration: none; padding-right: 0.5rem; padding-left: 0.5rem; color: #0d6efd; font-weight: bold; padding-top:1rem" href="{% url 'tag_link' j.pk %}">
                      #{{j.name}}</a>
  
                    {% endfor %}
  
                    <p class="card-text mt-1 p-1">
                      <small class="text-muted">{{project.time|naturaltime}}</small>
                    </p>
  
                    <div class="d-grid gap-2">
                      <a href="{% url 'project' project.id %}" class="btn btn-border-filled visit-btn mt-1">Check</a>
                    </div>
                    <div>
                      <h5 style="font-size:1rem; margin-top:1rem">Developer
                        {% for prof in project.approved_participants.all  %}
                          
                       
                         <span class="badge badge-info"><a href="{% url 'profile' prof.user.username %}">{{prof.user.username}}</a></span>
                         {% endfor %}
                        </h5>
                    </div>
               
               
             </div>
          </div>
          <!-- End Fetatures -->
        </div>
         <!-- End Col -->
        
         {% endfor %}
        
       
        
  
      </div>
      <!-- End Row -->
    </div>
  </section>

</div>






  
{% endblock section %}

{% block js %}
<script>
  document.getElementById("lastest_btn").onclick = function(){

    document.getElementById("pending").style.display = "block";
    document.getElementById("past").style.display = "none";
  
  }

  document.getElementById("past_btn").onclick = function(){
    document.getElementById("pending").style.display = "none";
    document.getElementById("past").style.display = "block";
  }

</script>
  
{% endblock js %}
