
{% extends "base.html" %}{% load humanize %}
{% load static %}
{% block container %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
<style>
  a {
    text-decoration: none;
  }
</style>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-10">
      <div class="row">
        <div style="width: 15rem;" class="col-lg-8 col-sm-12">
          <img style="width: 12rem; height: 12rem;" class="rounded-circle dp" src="{{profile.image.url}}" alt="">


        </div>
        <div style="margin-top: 0.4rem;" class="col-lg-4 col-sm-12 ">
          <strong style=" font-size: 2.4rem;">{{profile.user.username}}</strong>
          <br>

          <h5 class="mb-3">
            {% if profile.open_to_work %}

            <span class="badge rounded-pill bg-info text-dark mt-3">Open To Work
              <svg style="margin-bottom: 0.1rem;" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                fill="currentColor" class="bi bi-check2-all" viewBox="0 0 16 16">
                <path
                  d="M12.354 4.354a.5.5 0 0 0-.708-.708L5 10.293 1.854 7.146a.5.5 0 1 0-.708.708l3.5 3.5a.5.5 0 0 0 .708 0l7-7zm-4.208 7-.896-.897.707-.707.543.543 6.646-6.647a.5.5 0 0 1 .708.708l-7 7a.5.5 0 0 1-.708 0z" />
                <path d="m5.354 7.146.896.897-.707.707-.897-.896a.5.5 0 1 1 .708-.708z" />
              </svg>
            </span>
            {% else %}

            <span class="badge rounded-pill bg-danger text-white mt-3">Not Open To Work</span>

            {% endif %}


          </h5>

          <!-- skills -->

          {% for i in profile.skill_set.all|slice:":5" %}

          <span class="badge rounded-pill bg-dark ">{{i.name}}</span>

          {% endfor %}



          <br>
          {% if profile.resume %}
          <a class="btn btn-outline-primary mt-3" href="{{profile.resume}}" download="">Resume
            <svg style="margin-bottom: 0.1rem;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
              <path
                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
              <path
                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
            </svg>
          </a>

          {% endif %}


        </div>
      </div>



    </div>

    <div class="col-lg-2"></div>
  </div>
</div>
<br><br>
<div class="container mt-4">
  <div class="card pt-4 pb-4 px-5">
    {% if request.user == profile.user %}


    <div class="row">
      <div class="col-10">

      </div>
      <div style="width: 4rem; margin-left: 2rem;" class="col-2">
        <a type="button" data-bs-toggle="modal" data-bs-target="#profileEdit" href="#"><svg
            xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pencil-square"
            viewBox="0 0 16 16">
            <path
              d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd"
              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
          </svg>
        </a>

      </div>


    </div>
    {% endif %}
    <h5><strong><span class="badge bg-secondary">{{profile.work_experience}} Years Experience</span></strong></h5>
    <p class="mt-2">{{profile.about}}</p>
    <a style="font-weight: bold;" class="contact_link" data-bs-toggle="collapse" href="#contactinfo" role="button"
      aria-expanded="false" aria-controls="contactinfo">
      Contact Info
    </a>
    <div class="collapse mt-4" id="contactinfo">
      <div class="card card-body p-5">
        <strong>
          <svg style="margin-bottom: 0.2rem; margin-right:0.5rem" xmlns="http://www.w3.org/2000/svg" width="26"
            height="26" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
            <path
              d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
          </svg>
          Linkedin Profile
        </strong>
        <a style="margin-left: 1rem; color: #0d6efd; margin-top: 0.6rem;"
          href="{{profile.linkedin_link}}">{{profile.linkedin_link}}</a>
        <br>
        <br>
        <strong>
          <svg style="margin-bottom: 0.2rem; margin-right:0.5rem" xmlns="http://www.w3.org/2000/svg" width="26"
            height="26" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
            <path
              d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
          </svg>
          Github Profile
        </strong>
        <a style="margin-left: 1rem; color: #0d6efd; margin-top: 0.6rem;"
          href="{{profile.linkedin_link}}">{{profile.github_link}}</a>
        <br>
        <br>
        <strong>
          <svg style="margin-bottom: 0.2rem; margin-right:0.5rem" xmlns="http://www.w3.org/2000/svg" width="26"
            height="26" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
            <path
              d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
          </svg>
          Email
        </strong>
        <a style="margin-left: 1rem; color: #0d6efd; margin-top: 0.6rem;"
          href="mailto: {{profile.email}}">{{profile.email}}</a>


        <br><br>
        <strong>

          <svg style="margin-bottom: 0.2rem; margin-right:0.5rem" xmlns="http://www.w3.org/2000/svg" width="26"
            height="26" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
            <path
              d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
          </svg>
          Phone
        </strong>
        <a style="margin-left: 1rem; color: #0d6efd; margin-top: 0.6rem;"
          href="tel: {{profile.phone}}">{{profile.phone}}</a>
      </div>
    </div>
  </div>

</div>
<br>
<br>


{% if request.user == profile.user %}
  


<!-- application notifications start -->

<div class="container mt-4">

  <div class="card border-primary mb-3">
    <div class="card-header">Application notifications</div>
    <div style="overflow-y: scroll; max-height:30vh;" class="card-body text-primary">

      {% for i, field in sub_data.items %}

      <a class="notification_link" href="{% url 'project' i.pk %}">
        <div class="alert alert-success d-flex align-items-center notification_link" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="30" height="30" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
          </svg>
          <div style="margin-left: 1rem;">
            <strong class="d-flex justify-content-between"> {{i.name}} <span style="margin-left: 1rem;"
                class="badge bg-dark">Approved</span></strong> <small style="margin-top: 0.3rem;"
              class="d-flex justify-content-between">{{field.time|naturaltime}}</small>
          </div>

        </div>
      </a>

      {% endfor %}



    </div>
  </div>

</div>

<!-- application notifications end -->
{% endif %}



{% comment %}
<div class="container mt-4">
  <div class="row">
    <div class="col-lg-3 col-sm-12 mt-4">
      <div class="box-shadow p-5">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum delectus cumque et iste tempore impedit est
          ducimus maiores harum quasi iusto unde nam, voluptates commodi distinctio, eligendi soluta accusantium
          praesentium?</p>

      </div>
    </div>
    <div class="col-lg-3 col-sm-12 mt-4">
      <div class="box-shadow p-5">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum delectus cumque et iste tempore impedit est
          ducimus maiores harum quasi iusto unde nam, voluptates commodi distinctio, eligendi soluta accusantium
          praesentium?</p>

      </div>
    </div>
    <div class="col-lg-3 col-sm-12 mt-4">
      <div class="box-shadow p-5">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum delectus cumque et iste tempore impedit est
          ducimus maiores harum quasi iusto unde nam, voluptates commodi distinctio, eligendi soluta accusantium
          praesentium?</p>

      </div>
    </div>
    <div class="col-lg-3 col-sm-12 mt-4">
      <div class="box-shadow p-5">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum delectus cumque et iste tempore impedit est
          ducimus maiores harum quasi iusto unde nam, voluptates commodi distinctio, eligendi soluta accusantium
          praesentium?</p>

      </div>
    </div>
  </div>
</div>
  
{% endcomment %}











<!-- profile edit modal start-->

<div class="modal fade" id="profileEdit" tabindex="-1" aria-labelledby="profileEditLabel" aria-hidden="true">
  <div style="max-width: 60vw;" class="modal-dialog modal-dialog-scrollable modal-dialog-centered p-5">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileEditLabel">Edit Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-4">
        <form method="POST" enctype="multipart/form-data" action="{% url 'profile_edit' profile.user.username %}">{%
          csrf_token %}



          <div class="mb-3">

            <div class="form-check form-switch">
              <input name="open_to_work" class="form-check-input" type="checkbox" id="open_to_work" checked>
              <label class="form-check-label" name="open_to_work" for="open_to_work">Open To Work</label>
            </div>
          </div>

          <div class="mb-3 mt-4">
            <label class="form-label" for="skill">Skills</label>
            <select id="skill" name="skills" multiple class="form-select form-select-sm"
              aria-label=".form-select-sm example">

              {% for skill in prof_skills %}

              <option selected value="{{skill.pk}}">{{skill.name}}</option>

              {% endfor %}
              {% for skill in remaining_skills %}
              <option value="{{skill.pk}}">{{skill.name}}</option>

              {% endfor %}



            </select>
            <div id="skill" class="form-text">Select Best Five</div>
          </div>

          <div class="mb-3 mt-5">
            <label for="dp" class="form-label">Display Picture</label>
            <input name="dp" class="form-control" type="file" id="dp">

          </div>
          <div class="mb-3 mt-5">
            <label for="resume" class="form-label">Your Resume</label>
            <input name="resume" class="form-control" type="file" id="resume">

          </div>

          <div class="mb-3  mt-5">
            <label for="github_link" class="form-label">
              <svg style="margin-bottom: 0.1rem;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
              </svg>
              Github Link
            </label>
            <input type="text" class="form-control form_field" id="github_link" name="github_link"
              value="{{profile.github_link}}" placeholder="Enter Github Profile Link">
          </div>

          <div class="mb-3 mt-5">
            <label for="linkedin_link" class="form-label">
              <svg style="margin-bottom: 0.1rem;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path
                  d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z" />
              </svg>
              Linkedin Link
            </label>
            <input type="text" value="{{profile.linkedin_link}}" class="form-control form_field" name="linkedin_link"
              id="linkedin_link" placeholder="Enter Linkedin Profile Link">
          </div>

          <div class="mb-3 mt-5">
            <label for="email" class="form-label">
              <svg style="margin-bottom: 0.1rem;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
              </svg>
              Email
            </label>
            <input type="email" value="{{profile.email}}" class="form-control form_field" name="email" id="email"
              placeholder="john@gmail.com">
          </div>

          <div class="mb-3 mt-5">
            <label for="phone" class="form-label">
              <svg style="margin-bottom: 0.1rem;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                <path
                  d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
              </svg>
              Phone
            </label>
            <input type="tel" value="{{profile.phone}}" class="form-control form_field" name="phone" id="phone"
              placeholder="Enter Your Phone No.">
          </div>
          <div class="mb-3 mt-5">

            <label for="experience" class="form-label">
              <svg style="margin-bottom: 0.1rem;" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                fill="currentColor" class="bi bi-server" viewBox="0 0 16 16">
                <path
                  d="M1.333 2.667C1.333 1.194 4.318 0 8 0s6.667 1.194 6.667 2.667V4c0 1.473-2.985 2.667-6.667 2.667S1.333 5.473 1.333 4V2.667z" />
                <path
                  d="M1.333 6.334v3C1.333 10.805 4.318 12 8 12s6.667-1.194 6.667-2.667V6.334a6.51 6.51 0 0 1-1.458.79C11.81 7.684 9.967 8 8 8c-1.966 0-3.809-.317-5.208-.876a6.508 6.508 0 0 1-1.458-.79z" />
                <path
                  d="M14.667 11.668a6.51 6.51 0 0 1-1.458.789c-1.4.56-3.242.876-5.21.876-1.966 0-3.809-.316-5.208-.876a6.51 6.51 0 0 1-1.458-.79v1.666C1.333 14.806 4.318 16 8 16s6.667-1.194 6.667-2.667v-1.665z" />
              </svg>
              Work Experience
            </label>
            <input type="number" value="{{profile.work_experience}}" name="work_experience"
              class="form-control form_field" id="experience">

          </div>




          <div class="mb-3 mt-5">
            <label for="exampleFormControlTextarea1" class="form-label">About</label>
            <textarea name="about" class="form-control" id="exampleFormControlTextarea1"
              rows="3">{{profile.about}}</textarea>
          </div>


          <div class="mb-3 mt-5">
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="submit">Submit</button>

            </div>

          </div>

        </form>

      </div>

    </div>
  </div>
</div>

<!-- profile edit modal end -->


{% endblock container %}

{% block section %}



<!-- done projects start-->
 <!-- Blog Section -->
 <section id="blog" class="section">
  <!-- Container Starts -->
  <div class="container">
    <!-- Start Row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="blog-text section-header text-center">  
          <div>   
            <h2 class="section-title">Completed Projects</h2>
            <div class="desc-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>  
              <p>eiusmod tempor incididunt ut labore et dolore.</p>
            </div>
          </div> 
        </div>
      </div>

    </div>
    <!-- End Row -->
    <!-- Start Row -->
    <div class="row">

      {% for project in completed_projects %}
        
     
      <!-- Start Col -->
      <div class="col-lg-4 col-md-6 col-xs-12 blog-item">
        <!-- Blog Item Starts -->
        <div class="blog-item-wrapper">
          <div class="blog-item-img">
            <a href="{% url 'project' project.pk %}">
              <img style="padding:2rem" src="{{project.startup.startupimage_set.all.0.image.url}}" class="img-fluid" alt="">
            </a>             
          </div>
          <div class="blog-item-text"> 
            <h3><a href="{% url 'project' project.pk %}">{{project.name}}</a></h3>
            <p>{{project.project_details|truncatechars:100}}</p>
            <a href="" class="read-more">{{project.startup.name}}</a>
          </div>
          <div class="author">
            <span class="name"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-file-code-fill" viewBox="0 0 16 16">
              <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.646 5.646a.5.5 0 1 1 .708.708L5.707 8l1.647 1.646a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708l2-2zm2.708 0 2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 1 1 .708-.708z"/>
            </svg><a href="{% url 'community' project.community.pk %}"> {{project.community.name}}</a></span>
            <span class="date float-right"><i class="lni-calendar"></i>{{project.time.date}}</span>
          </div>
        </div>
        <!-- Blog Item Wrapper Ends-->
      </div>
      <!-- End Col -->

      {% endfor %}
    

    </div>
    <!-- End Row -->
  </div>
</section>
<!-- blog Section End -->

<!-- done projects end -->
  
{% endblock section %}