{% extends "base.html" %}{% load humanize %}
{% block container %}

<div class="container mt-4">
    <br>
    <strong><h3>Trending</h3></strong>

    <br>
    <br>
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <div class="box-shadow p-4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius porro nesciunt animi recusandae sequi dolor.</p>

            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="box-shadow p-4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius porro nesciunt animi recusandae sequi dolor.</p>

            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="box-shadow p-4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius porro nesciunt animi recusandae sequi dolor.</p>

            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="box-shadow p-4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius porro nesciunt animi recusandae sequi dolor.</p>

            </div>
        </div>
    </div>
</div>
<br><br>
<div class="container mt-4">
    <br>
    <strong>
        <h3>
            Latest
        </h3>
        
    </strong>

    <br>
    <br>
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <div class="box-shadow p-4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius porro nesciunt animi recusandae sequi dolor.</p>

            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="box-shadow p-4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius porro nesciunt animi recusandae sequi dolor.</p>

            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="box-shadow p-4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius porro nesciunt animi recusandae sequi dolor.</p>

            </div>
        </div>
        <div class="col-lg-3 col-sm-12">
            <div class="box-shadow p-4">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius porro nesciunt animi recusandae sequi dolor.</p>

            </div>
        </div>
    </div>
</div>

{% endblock container %}