{% extends "startup_dashboard_main.html" %}
{% load static %}


{% block sidebar %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Startup Dashboard <sup>2</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item ">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Utilities
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link " href="{% url 'add_project' %}">
            <i class="fas fa-plus-circle"></i>
            <span>Add Project</span>
        </a>

    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Projects</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Projects :</h6>

                {% for i in startup.startup_project_set.all %}
                <a class="collapse-item" href="{% url 'project_details_startup' i.pk %}">{{i.name}}</a>

                {% endfor %}


            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->


    <li class="nav-item ">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFormfields"
            aria-expanded="true" aria-controls="collapseFormfields">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Build Form</span>
        </a>
        <div id="collapseFormfields" class="collapse" aria-labelledby="headingFormfields"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Projects :</h6>

                {% for i in startup.startup_project_set.all %}
                <a class="collapse-item" href="{% url 'add_form_field' i.pk %}">{{i.name}}</a>

                {% endfor %}


            </div>
        </div>
    </li>
    <!-- Nav Item  -->

    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Add Skills</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'add_tags' %}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Add Tags</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="{% static 'img/undraw_rocket.svg' %}" alt="...">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!
        </p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>

</ul>

{% endblock sidebar %}

{% block container %}
<div class="container-fluid">
    <strong>Projects: </strong>




    <!-- Content Row -->
    <div class="row mt-2">

        <!-- Earnings (Monthly) Card Example -->
        {% for project in startup.startup_project_set.all %}

        <div class="col-xl-3 col-md-6 mb-4">
            <a style="text-decoration: none;" href="{% url 'project_details_startup' project.pk %}">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">

                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{project.name}}</div>
                                {% if project.complete %}
                                <span class="badge badge-pill badge-success mt-2">Complete</span>
                                {% else %}
                                <span class="badge badge-pill badge-primary mt-2">Pending</span>

                                {% endif %}

                            </div>
                            <div class="col-auto">
                                <!-- <i class="fas fa-calendar "></i> -->
                                <i class="fas fa-file-alt fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>




        {% endfor %}



    </div>

    <!-- Content Row -->



    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Startup Overview</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Utilities</div>
                            <a type="button" data-toggle="modal" data-target="#editStartup" class="dropdown-item"
                                href="#">Edit</a>
                            <a class="dropdown-item" href="{% url 'add_project' %}">Add Project</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <img style="height: 15rem; width: 15rem;" class="img-fluid box-shadow"
                                src="{{startup.startupimage_set.all.0.image.url}}" alt="">
                        </div>
                        <div class="col-8">
                            <h5 style="font-weight:bolder;"><strong style="color:black">{{startup.name}}</strong></h5>
                            <br>
                            <p>{{startup.about}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">

                        </div>
                        <div class="col-8">
                            <div class="row">
                            
                                    <svg style="margin-top: 0.1rem;
                                    margin-right: 1rem;" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                        <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                                      </svg>
                              
                            
                                    <a href="{{startup.linkedin_link}}">{{startup.linkedin_link}}</a>
                                
                            </div>

                            <div class="row mt-4">
                            
                                <svg style="margin-top: 0.1rem;
                                margin-right: 1rem;" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                                  </svg>
                          
                        
                                <a href="mailto: {{startup.email}}">{{startup.email}}</a>
                            
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- edit modal start -->

<div class="modal fade" id="editStartup" tabindex="-1" aria-labelledby="editStartup" aria-hidden="true">
    <div style="max-width: 60vw;" class="modal-dialog modal-dialog-scrollable modal-dialog-centered p-5">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editStartup">Edit Startup Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card border-primary mb-3">

                    <div class="card-body">
                        <form enctype="multipart/form-data" method="post" action="{% url 'edit_startup' startup.pk %}">{% csrf_token %}
                            <div class="form-group">
                                <label for="startupname">Name</label>
                                <input value="{{startup.name}}" type="text" class="form-control" name="name" id="startupname">
                            </div>

                            <div class="form-group">
                                <label for="basic-url">Linkedin URL</label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"
                                            id="basic-addon3">https://www.linkedin.com/in/StartupTeens/</span>
                                    </div>
                                    <input value="{{startup.linkedin_link}}" name="linkedin_url" type="text" class="form-control" id="basic-url"
                                        aria-describedby="basic-addon3">
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" id="email" value="{{startup.email}}">
                            </div>




                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">About</label>
                                <textarea name="about" class="form-control" id="exampleFormControlTextarea1" rows="3">{{startup.about}}</textarea>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Logo</label>
                                <div class="input-group mb-3">
                                    <div class="custom-file">
                                      <input name="logo" type="file" class="custom-file-input" id="inputGroupFile02">
                                      <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose Logo</label>
                                    </div>
                                    
                                  </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-md btn-block mt-3">Edit</button>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- edit modal end -->
{% endblock container %}